@model MailSender.Models.TemplateSendViewModel

@{
    ViewData["Title"] = "Send Template Email";
}

<h2>Send Template Email</h2>

<form id="emailForm" asp-action="SendTemplateEmail" method="post">
    <div class="form-group">
        <label for="SelectedGroupNames">Select Groups</label>
        <select asp-for="SelectedGroupNames" class="form-control js-select2" asp-items="Model.Groups" multiple="multiple">
        </select>
        <span asp-validation-for="SelectedGroupNames" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="TemplateName">Select Template</label>
        <select asp-for="TemplateName" class="form-control js-select2" asp-items="Model.Templates">
            <option value="">-- Select a Template --</option>
        </select>
        <span asp-validation-for="TemplateName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SelectedUserIds">Select Additional Users (optional)</label>
        <select asp-for="SelectedUserIds" class="form-control js-select2" asp-items="Model.Users" multiple="multiple">
            <option value="">-- None  --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Send Mail</button>
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-select2').select2();

            // Initialize SignalR connection
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("ReceiveMessage", function (user, message) {
                var li = document.createElement("li");
                li.textContent = `${user}: ${message}`;
                document.getElementById("messagesList").appendChild(li);
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            $('#emailForm').submit(function (event) {
                event.preventDefault(); 

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    //signalR
                    success: function (response) {
                        var user = 'System';
                        var message = 'An email template has been sent.';
                        connection.invoke("SendMessage", user, message).catch(function (err) {
                            return console.error(err.toString());
                        });

                        window.location.href = '/Home/Index';
                    },
                    error: function (error) {
                        alert("Error sending email.");
                    }
                });
            });
        });
    </script>
}
